.p-Home.Flex1 {
display: flex;
}
.p-Home.Div2 {
height: 50px;
margin-left: 500px;
margin-right: 5px;
width: 60px;
cursor: pointer;
}
.p-Home.Div3 {
height: 50px;
margin-right: 5px;
width: 80px;
}
.p-Home.Div5 {
height: ;
margin-right: 5px;
width: 80px;
}
.p-Home.Div6 {
height: 50px;
margin-right: ;
width: 60px;
margin-left: 0px;
float: right;
}
.p-Home.Div9 {
height: 50px;
width: 150px;
float: right;
display: inline-block;
margin-left: 5px;
}
.p-Home.Div10 {
;
}
.p-Home.Div11 {
height: 420px;
width: 520px;
margin-left: 100px;
margin-top: 100px;
}
.p-Home.Flex2 {
display: flex;
margin-top: ;
margin-bottom: ;
position: relative;
bottom: 350px;
height: ;
align-items: center;
justify-content: center;
}
.p-Home.Flex3 {
display: flex;
bottom: 350px;
position: relative;
align-self: center;
height: 50px;
align-items: flex-end;
justify-content: center;
align-content: stretch;
row-gap: ;
column-gap: 100px;
}
.p-Home.Flex4 {
display: flex;
bottom: 300px;
position: relative;
align-items: center;
justify-content: center;
height: 50px;
row-gap: ;
column-gap: 50px;
align-self: center;
flex-direction: column;
}
.p-Home.Flex5 {
display: flex;
position: relative;
bottom: 250px;
flex-direction: row;
justify-content: space-around;
align-items: flex-start;
align-content: space-around;
column-gap: 50px;
width: ;
}
.p-Home.Flex6 {
display: flex;
bottom: 200px;
position: relative;
flex-direction: column;
margin-left: 50px;
margin-right: 20px;
}
.p-Home.Flex7 {
display: flex;
flex-direction: row;
align-items: flex-start;
bottom: 100px;
position: relative;
width: ;
height: ;
justify-content: space-around;
max-width: ;
min-width: ;
margin-left: 100px;
}
.p-Home.Flex8 {
display: inline-flex;
background-image: url("/app-assets/2.jpg");
width: ;
background-color: transparent;
background-repeat: repeat-x;
height: 200px;
flex-direction: row-reverse;
align-items: stretch;
justify-content: flex-end;
flex-wrap: nowrap;
align-content: space-around;
row-gap: ;
column-gap: 50px;
}
.p-Home.Flex53 {
display: flex;
height: 200px;
background-image: url("/app-assets/2.jpg");
background-repeat: repeat-x;
width: 200px;
flex-direction: column-reverse;
align-items: center;
}
.p-Home.Flex54 {
display: flex;
background-image: url("/app-assets/2.jpg");
background-repeat: repeat-x;
height: 200px;
width: 200px;
flex-direction: column-reverse;
align-items: center;
font-size: 20px;
}
.p-Home.Div13 {
height: 350px;
background-color: #d7f0f0ff;
color: #98401e;
width: ;
}
.p-Home.Flex11 {
display: inline-flex;
flex-direction: row;
justify-content: flex-start;
position: sticky;
width: ;
}
.p-Home.Flex12 {
display: flex;
align-self: auto;
flex-direction: column;
}
.p-Home.Flex13 {
display: flex;
margin-top: 50px;
}
.p-Home.Flex14 {
display: flex;
position: relative;
width: 300px;
height: ;
float: left;
top: 50px;
flex-direction: column;
}
.p-Home.Flex16 {
display: flex;
}
.p-Home.Flex15 {
display: flex;
width: ;
height: 100px;
flex-direction: column-reverse;
justify-content: flex-end;
margin-left: 20px;
}
.p-Home.Flex17 {
display: flex;
left: 200px;
position: relative;
width: 400px;
flex-direction: column;
}
.p-Home.Div15 {
height: ;
}
.p-Home.Div16 {
height: ;
position: relative;
background-image: ;
background-position-y: ;
margin-left: 20px;
margin-bottom: ;
bottom: 150px;
}
.p-Home.Flex52 {
display: flex;
margin-left: 600px;
margin-top: 40px;
position: relative;
top: 200px;
}
.p-Home.Flex25 {
display: flex;
height: 200px;
border-bottom-color: #b8b2b2;
border-color: #a52222;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #a59c9c;
bottom: 50px;
position: relative;
}
.p-Home.Flex26 {
display: flex;
width: 500px;
flex-direction: column;
margin-top: 10px;
height: ;
margin-left: 50px;
}
.p-Home.Flex27 {
display: flex;
flex-direction: column;
height: ;
border-bottom-width: 5px;
border-bottom-style: solid;
border-bottom-color: #beb2b2ff;
align-items: stretch;
justify-content: space-around;
font-size: 20px;
border-radius: ;
}
.p-Home.Flex28 {
display: flex;
flex-direction: column;
font-size: 20px;
margin-top: 10px;
border-radius: ;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #736f6f;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4f4c4c;
border-color: #c7c1c1;
}
.p-Home.Flex29 {
display: flex;
width: 500px;
flex-direction: column;
margin-left: 40px;
margin-top: 20px;
}
.p-Home.Flex30 {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 34px;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #d9d3d3;
}
.p-Home.Flex31 {
display: flex;
flex-direction: column;
margin-top: 40px;
}
.p-Home.Flex33 {
display: flex;
justify-content: space-around;
background-color: #eb6868;
margin-left: 50px;
margin-right: 20px;
}
.p-Home.Flex34 {
display: flex;
width: 600px;
flex-direction: column;
background-color: #eb6767;
border-right-width: ;
border-right-style: none;
margin-left: ;
}
.p-Home.Flex37 {
display: flex;
align-items: flex-start;
height: ;
flex-direction: row;
margin-top: 50px;
justify-content: space-around;
background-color: #dbeef0;
}
.p-Home.Flex38 {
display: flex;
flex-direction: column;
width: ;
height: ;
margin-top: 100px;
margin-right: 100px;
font-size: 20px;
}
.p-Home.Flex39 {
display: flex;
flex-direction: column;
position: relative;
width: ;
height: ;
margin-left: 50px;
margin-top: 100px;
font-size: 20px;
}
.p-Home.Flex43 {
display: flex;
height: ;
margin-top: 20px;
flex-direction: column;
}
.p-Home.Flex44 {
display: flex;
flex-direction: column;
position: relative;
margin-bottom: ;
}
.p-Home.Flex45 {
display: flex;
width: 200px;
}
.p-Home.Flex46 {
display: flex;
margin-left: ;
flex-direction: row;
position: relative;
top: 100px;
justify-content: space-around;
font-size: 20px;
}
.p-Home.Flex47 {
display: flex;
width: 100px;
justify-content: flex-start;
height: ;
flex-direction: column;
margin-left: 100px;
}
.p-Home.Flex49 {
display: flex;
flex-direction: column;
}
.p-Home.TextBox3 {
;
}
.p-Home.TextBox4 {
;
}
.p-Home.Div12 {
width: ;
height: 420px;
margin-left: 700px;
margin-bottom: ;
margin-top: ;
bottom: 420px;
background-position-y: ;
position: relative;
background-image: url("/app-assets/atri1.jpg");
background-repeat: no-repeat;
}
.p-Home.Button2 {
color: #fff;
background-color: #0e0e10;
padding-top: 8px;
padding-left: 10px;
padding-bottom: 8px;
padding-right: 10px;
font-size: 20px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #18d7ff;
cursor: pointer;
user-select: none;
bottom: 250px;
position: relative;
float: right;
box-sizing: content-box;
margin-right: 15px;
}
.p-Home.header_TextBox {
font-size: 30px;
}
.p-Home.Link5 {
width: 50px;
margin-top: 10px;
font-size: 20px;
margin-left: 5px;
margin-right: 5px;
}
.p-Home.Link7 {
margin-top: 10px;
font-size: 20px;
cursor: pointer;
margin-right: 5px;
}
.p-Home.Link8 {
margin-top: 10px;
font-size: 20px;
margin-left: ;
margin-right: 5px;
cursor: pointer;
}
.p-Home.Link9 {
margin-top: 10px;
font-size: 20px;
cursor: pointer;
margin-right: 5px;
}
.p-Home.Link10 {
;
}
.p-Home.Link12 {
;
}
.p-Home.Link13 {
;
}
.p-Home.Link14 {
margin-top: 10px;
font-size: 20px;
cursor: pointer;
}
.p-Home.TextBox5 {
;
}
.p-Home.TextBox6 {
font-size: 60px;
color: #de7b7b;
}
.p-Home.TextBox7 {
font-size: 20px;
margin-top: 20px;
}
.p-Home.Button1 {
color: #fff;
background-color: #1a1a1b;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #021323ff;
cursor: pointer;
user-select: none;
margin-top: 15px;
}
.p-Home.Link15 {
margin-left: 50px;
font-size: 25px;
}
.p-Home.TextBox8 {
text-align: center;
float: none;
clear: both;
position: relative;
font-size: 20px;
}
.p-Home.TextBox10 {
;
}
.p-Home.TextBox11 {
;
}
.p-Home.TextBox12 {
;
}
.p-Home.TextBox13 {
;
}
.p-Home.TextBox15 {
color: #c13838;
font-size: 30px;
}
.p-Home.TextBox16 {
font-size: 40px;
color: #c91de6;
}
.p-Home.TextBox17 {
width: 300px;
text-align: center;
word-wrap: break-word;
background-origin: content-box;
background-clip: content-box;
-webkit-background-clip: content-box;
clear: none;
overflow: visible;
font-size: 20px;
}
.p-Home.TextBox18 {
width: 500px;
font-size: 20px;
right: 100px;
position: relative;
}
.p-Home.TextBox19 {
width: 500px;
font-size: 20px;
}
.p-Home.TextBox28 {
;
}
.p-Home.TextBox29 {
width: 500px;
font-size: 20px;
float: none;
right: 230px;
position: relative;
}
.p-Home.TextBox20 {
color: #ca2b8b;
font-size: 40px;
align-self: baseline;
}
.p-Home.TextBox22 {
font-size: 50px;
text-align: left;
float: left;
background-clip: text;
-webkit-background-clip: text;
align-self: auto;
background-color: #10280699;
box-sizing: content-box;
}
.p-Home.TextBox23 {
align-self: flex-end;
flex-grow: 1;
float: left;
font-size: 20px;
text-align: center;
clear: none;
margin-left: 55px;
}
.p-Home.TextBox24 {
align-self: flex-end;
}
.p-Home.TextBox77 {
font-size: 20px;
}
.p-Home.TextBox78 {
;
}
.p-Home.TextBox30 {
align-self: center;
font-size: 50px;
color: #d33023;
position: relative;
margin-bottom: ;
background-color: #eff6f6ff;
}
.p-Home.TextBox31 {
color: #efe1e1;
font-size: 20px;
}
.p-Home.TextBox32 {
color: #f5e7e7;
font-size: 30px;
}
.p-Home.Link19 {
color: #f1e4e4;
border-color: #f0e2e2;
}
.p-Home.TextBox33 {
color: #ecd8d8;
font-size: 20px;
}
.p-Home.TextBox37 {
margin-left: 20px;
}
.p-Home.TextBox38 {
margin-left: 20px;
}
.p-Home.Link21 {
margin-left: 20px;
}
.p-Home.TextBox34 {
width: ;
margin-bottom: 5px;
}
.p-Home.TextBox35 {
width: ;
margin-top: ;
margin-bottom: 5px;
}
.p-Home.Link20 {
;
}
.p-Home.TextBox40 {
;
}
.p-Home.TextBox41 {
margin-top: 5px;
margin-bottom: 5px;
}
.p-Home.Link22 {
;
}
.p-Home.TextBox42 {
font-size: 70px;
color: #e62eb1;
position: relative;
width: ;
}
.p-Home.Flex50 {
display: flex;
background-image: url("/app-assets/atri1.jpg");
width: 500px;
height: 400px;
background-position-y: ;
background-clip: content-box;
-webkit-background-clip: content-box;
}
.p-Home.TextBox45 {
position: relative;
top: 150px;
width: ;
font-size: 30px;
color: #b54a80;
margin-top: ;
}
.p-Home.TextBox47 {
font-size: 40px;
margin-top: 50px;
margin-bottom: 10px;
color: #df65d3;
position: relative;
}
.p-Home.TextBox48 {
align-self: center;
}
.p-Home.TextBox49 {
align-self: flex-end;
}
.p-Home.TextBox50 {
align-self: center;
}
.p-Home.TextBox51 {
align-self: flex-end;
}
.p-Home.TextBox52 {
color: #df65d3;
font-size: 40px;
margin-top: 50px;
margin-left: 10px;
}
.p-Home.TextBox53 {
font-size: 20px;
}
.p-Home.TextBox54 {
align-self: flex-end;
font-size: 20px;
}
.p-Home.TextBox55 {
color: #9510e3;
font-size: 35px;
margin-bottom: 20px;
margin-top: 10px;
align-self: center;
}
.p-Home.TextBox56 {
font-size: 40px;
align-self: center;
}
.p-Home.Flex35 {
display: flex;
width: 550px;
background-image: url("/app-assets/6.jpg");
height: 500px;
background-position-y: ;
background-position-x: -200px;
}
.p-Home.TextBox57 {
font-size: 100px;
color: #631d7b;
margin-left: ;
}
.p-Home.TextBox58 {
font-size: 30px;
height: ;
position: relative;
margin-left: 30px;
top: 80px;
color: #e6dada;
}
.p-Home.TextBox59 {
top: 200px;
position: relative;
align-self: center;
color: #f9d9d9;
font-size: 20px;
}
.p-Home.TextBox61 {
align-self: auto;
font-size: 40px;
color: #96af37;
width: ;
}
.p-Home.TextBox62 {
box-sizing: inherit;
width: 400px;
font-size: 20px;
margin-top: 10px;
}
.p-Home.TextBox63 {
font-size: 20px;
margin-top: 10px;
margin-bottom: 10px;
}
.p-Home.TextBox65 {
margin-top: 10px;
}
.p-Home.TextBox66 {
margin-top: 10px;
}
.p-Home.TextBox67 {
margin-top: 10px;
}
.p-Home.TextBox68 {
margin-top: 10px;
}
.p-Home.TextBox69 {
margin-top: 10px;
}
.p-Home.TextBox70 {
margin-top: 10px;
}
.p-Home.TextBox72 {
font-size: 40px;
width: ;
color: #a76390;
}
.p-Home.TextBox75 {
margin-top: 20px;
align-self: center;
color: #b4adad;
}
.p-Home.TextBox73 {
font-size: 20px;
margin-top: ;
margin-left: 100px;
width: ;
text-align: left;
color: #baba85;
}
.p-Home.Link25 {
;
}
.p-Home.Link26 {
margin-bottom: 5px;
}
.p-Home.Link27 {
margin-bottom: 5px;
}
.p-Home.Link30 {
margin-bottom: 5px;
}
.p-Home.Link28 {
margin-bottom: 5px;
height: ;
}
.p-Home.Link29 {
margin-bottom: 5px;
}
.p-Home.Link31 {
;
}
